.search {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.search input {
    flex-grow: 1;
}

.searchForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.filters {
    display: flex;
    gap: 1em;
}